*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
app/.DS_Store
app/src/product/
fastlane/README.md
fastlane/report.xml
fastlane/temp/content.txt
fastlane/temp/releaseNote.txt
app/develop/
beauty/build
sns/build
gkc_*